.mypy_cache
.idea
.pytest_cache
*.svg
*.h5
*.h5ad
*.vd
*.pkl
*.npy
*__pycache__
venv_vdata
.vscode
*.png
*.dot
*.csv
*.json
vdata.egg-info/
figures/
*.html
vdata.code-workspace
*.prof
*.vim
tests/ref/
