alabaster==0.7.12
anndata
appdirs
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
attrs
Babel
backcall==0.2.0
beautifulsoup4
bioservices
bokeh
Brotli
brotlipy
cached-property
certifi==2021.10.8
cffi
charset-normalizer
click
cloudpickle
colorama
colorlog==6.6.0
coverage==6.2
cryptography
cupy-cuda101==9.6.0
cycler
cytoolz==0.11.2
dash
dash-bootstrap-components
dash-core-components==2.0.0
dash-cytoscape==0.3.0
dash-daq
dash-extensions
dash-html-components==2.0.0
dash-table==5.0.0
dash-uploader==0.6.0
dask
dataclasses
decorator==4.4.2
distributed
docutils
dunamai
easydev
EditorConfig
fastrlock==0.8
flake8==4.0.1
Flask
Flask-Caching
Flask-Compress==1.10.1
Flask-Login==0.5.0
fonttools
frozendict
fsspec
get_version
gevent
giteapy==1.0.8
goatools
greenlet
grequests==0.6.0
gseapy==0.10.7
h5py
HeapDict==1.0.1
html5lib
idna
imagesize
importlib-metadata
iniconfig
ipython
itsdangerous
jedi
Jinja2
joblib
jsbeautifier
kiwisolver
lazyparser==0.2.0
legacy-api-wrap
llvmlite==0.37.0
locket==0.2.0
loompy==3.0.6
lxml
MarkupSafe
matplotlib
matplotlib-inline
mccabe==0.6.1
mock
more-itertools
msgpack
mypy
mypy-extensions
mysqlclient==2.1.0
natsort
networkx
numba
numexpr
numpy
numpy-groupies==0.9.14
olefile
packaging
pandas==1.3.5
parso
partd
patsy
pexpect
pickleshare
Pillow
plotly
pluggy
POT==0.8.1.0
prompt-toolkit
psutil
ptyprocess
py
pyarrow==3.0.0
pycodestyle==2.8.0
pycparser
pydot
pyflakes==2.4.0
Pygments
pygraphml==2.4.2
pynndescent
pyOpenSSL
pyparsing
PyPDF2==1.26.0
PySocks
pytest==6.2.5
pytest-cov==3.0.0
python-dateutil
pytz
PyYAML
requests
requests-cache==0.4.13
scanpy
scikit-learn
scipy
scvelo==0.2.4
seaborn
setuptools-scm
sinfo
six
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml
statsmodels
stdlib-list
suds-community
tables
tblib
tenacity
threadpoolctl
toml
tomli
toolz
tornado
tqdm
traitlets
typing_extensions
umap-learn
urllib3
wcwidth
webencodings==0.5.1
Werkzeug==2.0.2
wget==3.2
wrapt
xlrd==1.2.0
XlsxWriter
xmltodict==0.12.0
zict==2.0.0
zipp
zope.event
zope.interface
