:root {
    /* primary colors  */
    --md-primary-bg-color: white;

    /* accent colors */
    --md-accent-fg-color: #AA7F0F;

    /* body */
    [data-md-color-scheme="default"] {
        --md-primary-fg-color: #212945;
        --md-default-bg-color: #E8E9EE;
    }

    [data-md-color-scheme="slate"] {
        --md-primary-fg-color: #212945;
        --md-default-bg-color: ##2B2E3B;
        --md-typeset-a-color: #15738D;
    }
}
